*{
    margin: 0px;
    padding: 0px;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    padding: 40px;
}
.section-one{
 padding: 20px;
 background-color: black;
 color: white;   
}
.section-one__heading{
    font-size: 60px;
    margin-bottom: 10px;
}
.section-one__role{
    font-size: 40px;
    margin-bottom: 15px;
}
.section-one__contact{
    background-color: #fe7517;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    color: white;
}
.section-one,.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__description,.section-three__description,.section-four__description{
    margin-top: 10px;
}
.section-three__description li,.section-four__description li{
    list-style: none;
}
.section-five{
    padding: 20px;
    color: white;
    background-color: black;
}
.section-five__socialmedia a{
  color: skyblue;
}
.section-five__socialmedia{
    margin-bottom: 10px;
}
.section-three{
    background-color: #6462fd;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;
}
.section-four{
    background-color: #fe7517;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    width: 900px;
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input{
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
}
.contact-form__description{
    padding: 5px;
    margin-top: 5px;
}
.contact-form__submit{
    background-color: #fe7517;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    border:none;
    margin-top: 10px;
}